path.link {
  fill: none;
  stroke: #666;
  stroke-width: 0.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 15px sans-serif;
  pointer-events: none;
}

path.link0 {
    fill: none;
    stroke: green;
    stroke-width: thick;
}

path.link1 {
    fill: none;
    stroke: blue;
    stroke-width: thin;
}